form {
    background-color: aliceblue;
    border-style: dotted;
}

.meal-list {
    color: red;
    height: 100px;
    border-style: solid solid none solid;
}

.meal-list-wrap {
    list-style-type: none;
    border-style: none none solid none;
}

.meal-div {
    color: blue;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
