form {
    background-color: aliceblue;
    border-style: dotted;
}

.meal-list {
    color: red;
    height: 150px;
    width: 150px;
    border-style: solid solid solid solid;
    list-style-type: none;
    border-left-width: 10px;
    padding: 0;

}

.meal-list-wrap {
    list-style-type: none;
    border-style: none none solid none;
}

.meal-div {
    color: blue;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.meal {
    display: inline-flex;
    width: 200px;
    vertical-align:top;

}

.no-show {
    visibility: hidden;
    line-height:0;
}

.header {
    color: blue;
    font-weight: bold;
    border-style: none none solid none;
}
